.row {
  --bs-gutter-x: 0.5rem;
}

.sv__bottom_buffer {
  margin-bottom: 2px;
  padding: 0px;
}

.sv__input_padding {
  padding: 3px 6px 3px 6px;
}

#settings__ui {
  background: rgb(230, 230, 230);
}

#totalPercent {
  padding-right: 0px;
}

.centered {
  justify-content: center;
  display: flex;
}

.sv__top_buffer {
  margin-top: 8px;
}

.select2-results__option {
  background-color: white;
  color: black;
}

html, body{
  overflow-x: hidden !important;
}